<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>title</title>
</head>

<body>
    <div class="container-fluid">
        <div style="background-color: #324567;">
          <br>
        </div>
        
        <div style="padding: 10px;">
            <div style="font-size: 40px; text-align: center;">
                <p class="fw-bold">Halo, {{nama}} !</p>
            </div>
            <div style="padding-left: 20%">
                <div>
                Pengajuan tanggal <b>{{tanggal}}</b>, oleh : <br>
                Nama : <b>{{nama}}</b> <br>
                NIM : <b>{{nim}}</b> <br>

                dengan jenis pengajuan <b>{{jenis}}</b> telah di <b>{{status}}</b> oleh <b>{{dosen}}</b>
                </div>
            </div>
        </div>
        <div style="background-color: #324567;">
            <br>
        </div>
    </div>
</body>
</html>