<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>title</title>
</head>

<body>
    <div class="container-fluid">
        <div style="background-color: #324567;">
            <br>
        </div>

        <div style="padding: 10px;">
            <div style="padding-left: 20%">
                <div>
                    Assalamualaikum wr.wb {{nama}} <br>
                    Dengan Email ini saya sampaikan bahwa Mahasiswa saya, <br>
                    Nama Mahasiswa : <b>{{namaMahasiswa}}</b> <br>
                    NIM : <b>{{nim}}</b> <br>
                    Kelas : <b>{{kelas}}</b> <br>

                    pada tanggal <b>{{tanggal}}</b> tidak dapat mengikuti mata kuliah <b>{{matkul}}</b> pada hari
                    tersebut dikarenakan <b>{{jenis}}</b> <br><br>

                    Mohon Bapak/Ibu dosen memakluminya. <br><br>

                    Terima Kasih, <br>
                    Wali Kelas {{kelas}}<br>
                    {{nama}}
                </div>
            </div>
        </div>
        <div style="background-color: #324567; color:white">
            pesan ini dikirim menggunakan sistem Permitly <br>
        </div>
    </div>
</body>

</html>